/* *{
    color: purple;
    font-size: 50px;
} */
body{
    background-color: bisque;
}

h1 {
    color: firebrick;
    font-size: 20px;
}
article{
    color: orange;
    font-size: 20px;
}
p{
    color: aqua;
    font-size: 20px;
}
/* classes should start with . */
.descr{
    text-align: center;
    color: darkgreen;
}
/* article.descr will override .descr because it's more detailed and precise */
article.descr{
    color: blue;
}
/* id should start with #   */
#extra{
    text-align: right;
    font-size: 30px;
    font-family: cursive;
    color: blueviolet;
}
/* This is more class */
.more{
    color: red;
}
/* styling from class more will override coz css read from top to bottom ..
and the style in the bottom class will overrirde any style from the class at the top */

